@media screen and (max-width: 1200px) {
    /*Alert*/
    #alertsContainer strong {font-size: 14px;}

    /*main*/
    .section-main {width: 80%;}

    /*prevision heure*/
    .prevision-heure {width: 80%;  }
    .div-presivion {flex-direction: column;}
    #tomorrowHourlyContainer {padding-top: 30px;}
    #weather-info h1 {font-size: 22px;}

    /*section-right*/
    .section-right {width: 80%;}

    /*footer*/
    .div-footer p {font-size: 12px;}
}

@media screen and (max-width: 400px) {
    #weather-info h1 {font-size: 20px;}
    #weather-info p {font-size: 15px;}
}